html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

$accent-color: #F79A00;
.app {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3em;
    h1 {
        font-family: Roboto;
        font-size: 1.2em;
        color: #4A4A4A;
        margin: 1em;
        margin-top: 3em;
    }
    h2 {
        font-family: KohinoorDevanagari;
        font-size: 1.2em;
        color: #4A4A4A;
        margin-bottom: 1em;
    }
    .radio-group {
        font-family: Roboto-Regular;
        font-size: 16px;
        color: #4A4A4A;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        &.vertical {
            flex-direction: column;
            label {
                margin: 0 0 8px 0;
            }
        }
        label {
            margin: 0 8px 0 0;
            cursor: pointer;
        }
        input {
            &[type="radio"] {
                display: none;
                &:checked+span {
                    &:before {
                        background-color: $accent-color;
                        box-shadow: inset white 0 0 0 2px;
                    }
                }
            }
        }
        span {
            display: flex;
            margin: 1em;
            &:before {
                border: 2px solid $accent-color;
                content: '';
                display: flex;
                height: 16px;
                width: 16px;
                margin: 0 5px;
                border-radius: 50%;
                box-sizing: border-box;
                transition: all ease .200s;
                box-shadow: inset white 0 0 0 10px;
            }
        }
    }
    a {
        align-self: flex-end;
        border: none;
        cursor: pointer;
        margin-right: 2em;
        border-radius: 50%;
        padding: 1em;
        background: #F79A00;
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    img {
        padding-top: 3em;
    }
    h1 {
        margin: 3.5em 0;
        font-family: Roboto;
        font-size: 1.1em;
        color: #4A4A4A;
        letter-spacing: 0;
    }
    .container {
        font-family: 'Roboto';
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    * {
        box-sizing: border-box;
    }
    /* form starting stylings ------------------------------- */
    .group {
        position: relative;
        margin-bottom: 2em;
    }
    input {
        color: #979797;
        font-size: 0.8em;
        padding: 0.625em 0.625em 0.625em 0.3125em;
        display: block;
        width: 18.75em;
        border: none;
        border-bottom: 1px solid #979797;
    }
    input:focus {
        outline: none;
        border: none;
    }
    /* LABEL ======================================= */
    label {
        font-family: 'Roboto';
        color: #979797;
        font-size: 0.8em;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 0.4em;
        top: 0.625em;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    /* active state */
    input:focus~label,
    input:valid~label {
        top: -20px;
        font-size: 0.8em;
        color: #F79A00;
    }
    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
    }
    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #F79A00;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .bar:before {
        left: 50%;
    }
    .bar:after {
        right: 50%;
    }
    /* active state */
    input:focus~.bar:before,
    input:focus~.bar:after {
        width: 50%;
    }
    .bhamashah {
        font-family: Roboto;
        font-size: 0.7em;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        color: #F79A00;
    }
    .next {
        margin-right: 2em;
        margin-top: 2em;
        text-decoration: none;
        align-self: flex-end;
        font-family: Roboto;
        font-weight: 500;
        border: none;
        cursor: pointer;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0.2px;
        line-height: 12px;
        padding: 12px 20px;
        background: #F79A00;
        border-radius: 2px;
    }
}

.notification {
    img{
        margin-top: 1em;
    }
    padding: 2.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        margin: 3em 0 1em 0;
        font-family: Roboto;
        font-size: 20px;
        color: #4A4A4A;
        letter-spacing: 0;
    }
    h2 {
        margin-bottom: 2em;
        font-family: Roboto;
        font-size: 16px;
        color: #979797;
        line-height: 22.4px;
    }
    .tohome {
        padding: 12px 20px;
        background-color: $accent-color;
        margin-bottom: 2em;
        font-family: Roboto;
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-decoration: none;
    }
    .dontbother {
        font-family: Roboto;
        font-size: 13.71px;
        color: #979797;
        text-decoration: none;
    }
}
