/* line 1, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 93, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* line 107, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
body {
  line-height: 1; }

/* line 111, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
ol,
ul {
  list-style: none; }

/* line 116, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
blockquote,
q {
  quotes: none; }

/* line 121, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* line 129, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 135, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em; }
  /* line 140, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
  .app h1 {
    font-family: Roboto;
    font-size: 1.2em;
    color: #4A4A4A;
    margin: 1em;
    margin-top: 3em; }
  /* line 147, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
  .app h2 {
    font-family: KohinoorDevanagari;
    font-size: 1.2em;
    color: #4A4A4A;
    margin-bottom: 1em; }
  /* line 153, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
  .app .radio-group {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    flex-direction: column; }
    /* line 161, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
    .app .radio-group.vertical {
      flex-direction: column; }
      /* line 163, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
      .app .radio-group.vertical label {
        margin: 0 0 8px 0; }
    /* line 167, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
    .app .radio-group label {
      margin: 0 8px 0 0;
      cursor: pointer; }
    /* line 172, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
    .app .radio-group input[type="radio"] {
      display: none; }
      /* line 175, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
      .app .radio-group input[type="radio"]:checked + span:before {
        background-color: #F79A00;
        box-shadow: inset white 0 0 0 2px; }
    /* line 182, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
    .app .radio-group span {
      display: flex;
      margin: 1em; }
      /* line 185, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
      .app .radio-group span:before {
        border: 2px solid #F79A00;
        content: '';
        display: flex;
        height: 16px;
        width: 16px;
        margin: 0 5px;
        border-radius: 50%;
        box-sizing: border-box;
        transition: all ease .200s;
        box-shadow: inset white 0 0 0 10px; }
  /* line 199, /Users/Abhishek/Playground/rajhacks/eteeka/platforms/android/assets/www/css/index.scss */
  .app button {
    align-self: flex-end;
    border: none;
    cursor: pointer;
    margin-right: 2em;
    border-radius: 50%;
    padding: 1em;
    background: #F79A00; }

/*# sourceMappingURL=index.css.map */