html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    background-color: #F79A00;
    align-items: center;
    input[type="number"] {
        border: none;
        border-radius: 2px;
        padding: 12px 20px;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.50);
        font-family: Roboto;
    }
    button {
        font-weight: 500;
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0.3px;
        padding: 12px 20px;
        border: none;
        background: #65C101;
        cursor: pointer;
        margin-left: 1em;
        border-radius: 2px;
        &:focus {
            outline: none;
        }
    }
    h1 {
        font-family: Roboto;
        font-size: 32px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 24px;
    }
}
