html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

body {
    background-color: #fdfdfd;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    background-color: #F79A00;
    align-items: center;
    input[type="text"] {
        border: none;
        border-radius: 2px;
        padding: 12px 20px;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.50);
        font-family: Roboto;
    }
    button {
        font-weight: 500;
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0.3px;
        padding: 12px 20px;
        border: none;
        background: #65C101;
        cursor: pointer;
        margin-left: 1em;
        border-radius: 2px;
        &:focus {
            outline: none;
        }
    }
    h1 {
        font-family: Roboto;
        font-size: 32px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 24px;
    }
}

#child-vaccine-info {
    .card {
        padding: 1em;
        background: #FFFFFF;
        box-shadow: 0 2px 1px 0 rgba(215, 215, 215, 0.50);
        border-radius: 2px;
        margin: 2em;
        h4 {
            font-weight: 500;
            font-family: Roboto;
            font-size: 24px;
            color: #4A4A4A;
            letter-spacing: 0;
            margin-bottom: 1em;
        }
    }
    table {
        tr {
            text-align: left;
            th {
                padding: 0 1em;
                text-transform: uppercase;
                font-weight: 500;
                font-family: Roboto;
                font-size: 12px;
                color: #979797;
                line-height: 22.4px;
            }
            td{
                padding: 1em;
                font-family: Roboto;
            }
        }
    }
    button[data-mark="true"]{
        background-color: #65C101;
        padding: 12px 20px;
        font-family: Roboto;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 0.8em;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    
    button[data-mark="false"]{
        background-color: #FF0000;
        padding: 12px 20px;
        font-family: Roboto;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 0.8em;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    #completed-vaccines{
        border-left: 2px solid #65C101;
        h4{
            color: #65c101;
        }
    }
    
    #due-vaccines{
        border-left:2px solid #F79A00;
        h4{
            color: #f79a00;
        }
    }
}

.children-list{
    padding: 1em;
    li{
        font-family: Roboto;
        font-size: 1em;
        button{
            padding: 0.5em;
            border: none;
            background-color: #65C101;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            margin-left: 1em;
        }
    }
}
